.groundContainer {
  height: 10vh;
  width: 100%;
}

.groundGradient {
  background: repeating-linear-gradient(
    45deg,
    var(--ground),
    var(--ground) 8px,
    var(--delft) 8px,
    var(--delft) 16px
  );
}
